@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	font-family: 'Lato', sans-serif;
	background: #353535;

}

#header {
	color: ADD8E6;
}

footer {
  margin-bottom: 0 !important;
  margin-top: 80px;
}
footer p {
  margin: 0;
  padding: 0;
}
span.icon {
	margin: 0 5px;
	color: #D64541;
}
h2 {
	color:  #778899;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mrng-60-top {
	margin-top: 60px;
}
/* Global Button Styles */
a.animated-button {
	position: relative;
	display: block;
	margin: 50px auto 0;
	padding: 14px 15px;
	color: #00FFFF;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Aqua Buttons */

a.animated-button.aqua-one {
	border: 2px solid #00FFFF;
	border-radius: 5px;
}
a.animated-button.aqua-one:after {
	background: #00FFFF;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	 box-shadow: 0px 0px 150px #000000;    
}
a.animated-button.aqua-two {
	border: 2px solid #00FFFF;
	border-radius: 10px;
}
a.animated-button.aqua-two:after {
	background: #00FFFF;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.aqua-three {
	border: 2px solid #00FFFF;
	border-radius: 20px;
}
a.animated-button.aqua-three:after {
	background: #00FFFF;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.aqua-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button.aqua-four {
	border: 2px solid #00FFFF;
	border-radius: 0 100%;
}
a.animated-button.aqua-four:after {
	background: #00FFFF;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.aqua-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
/* Purple Buttons */

a.animated-button.purple-one {
	border: 2px solid #FF00FF;
	color: #FFF;
}
a.animated-button.purple-one:after {
	border: 3px solid #FF00FF;
	opacity: 0;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	
}
a.animated-button.purple-one:hover:after {
	height: 120% !important;
	opacity: 1;
	color: #FFF;
	border-radius: 100%;
}
a.animated-button.purple-two {
	border: 2px solid #FF00FF;
	color: #FFF;
}
a.animated-button.purple-two:after {
	border: 3px solid #FF00FF;
	opacity: 0;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.purple-two:hover:after {
	height: 600% !important;
	opacity: 1;
	color: #FFF;
	border-radius: 100%;
}
a.animated-button.purple-three {
	border: 2px solid #FF00FF;
	color: #FFF;
}
a.animated-button.purple-three:after {
	border: 3px solid #FF00FF;
	border-radius: 100%;
	opacity: 0;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.purple-three:hover:after {
	height: 400% !important;
	opacity: 1;
	color: #FFF;
}
a.animated-button.purple-four {
	border: 2px solid #FF00FF;
	color: #FFF;
	border-radius: 100%;
}
a.animated-button.purple-four:after {
	border: 3px solid #FF00FF;
	opacity: 0;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(25deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(25deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
	transform: translateY(-50%) translateX(-50%) rotate(25deg);
}
a.animated-button.purple-four:hover:after {
	height: 400% !important;
	opacity: 1;
	color: #FFF;
}
/* Lime Buttons */

a.animated-button.lime-one {
	border: 2px solid #00FF00;
	color: #FFF;
	border-radius: 100% 0;
}
a.animated-button.lime-one:after {
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(0,255,0,1.0) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.lime-one:hover:after {
	height: 600% !important;
	opacity: 1;
	color: #FFF;
}
a.animated-button.lime-two {
	border: 2px solid #00FF00;
	color: #FFF;
	border-radius: 100%;
}
a.animated-button.lime-two:after {
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(0,255,0,1.0) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.lime-two:hover:after {
	height: 600% !important;
	opacity: 1;
	color: #FFF;
}
a.animated-button.lime-three {
	border: 2px solid #00FF00;
	color: #FFF;
}
a.animated-button.lime-three:after {
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(0,255,0,1.0) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
a.animated-button.lime-three:hover:after {
	height: 600% !important;
	opacity: 1;
	color: #FFF;
}
a.animated-button.lime-four {
	border: 2px solid #00FF00;
	color: #FFF;
}
a.animated-button.lime-four:after {
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(0,255,0,1.0) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%));
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.lime-four:hover:after {
	height: 600% !important;
	opacity: 1;
	color: #FFF;
}
/* Red Buttons */

a.animated-button.red-one {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #FF0000;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.red-one:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
a.animated-button.red-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.red-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #FF0000;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.red-two {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #FF0000;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.red-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.animated-button.red-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.red-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #FF0000;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.red-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #FF0000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.red-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
	border-radius: 0 100%;
}
a.animated-button.red-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.red-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #FF0000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.red-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #FF0000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.red-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
	border-radius: 100%;
}
a.animated-button.red-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.red-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #FF0000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}